Bingo/Bingo/Connected Services/BingoWCF/ServiceBingo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceBingo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50402/Dominio/Servicios/ServiceBingo.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50402/Dominio/Servicios/ServiceBingo.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50402/Dominio/Servicios/ServiceBingo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBingo" />
      <xsd:import schemaLocation="http://localhost:50402/Dominio/Servicios/ServiceBingo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WcfBingo.Dominio.Modelos" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceBingo_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_MarkBoards_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkBoards" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_MarkBoards_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkBoardsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_GetWinningBoards_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWinningBoards" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_GetWinningBoards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWinningBoardsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_GenerateBoards_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateBoards" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_GenerateBoards_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateBoardsResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_GenerateWinningPattern_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateWinningPattern" />
  </wsdl:message>
  <wsdl:message name="IServiceBingo_GenerateWinningPattern_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateWinningPatternResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceBingo">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBingo/GetData" message="tns:IServiceBingo_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBingo/GetDataResponse" message="tns:IServiceBingo_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBingo/GetDataUsingDataContract" message="tns:IServiceBingo_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBingo/GetDataUsingDataContractResponse" message="tns:IServiceBingo_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkBoards">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBingo/MarkBoards" message="tns:IServiceBingo_MarkBoards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBingo/MarkBoardsResponse" message="tns:IServiceBingo_MarkBoards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWinningBoards">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBingo/GetWinningBoards" message="tns:IServiceBingo_GetWinningBoards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBingo/GetWinningBoardsResponse" message="tns:IServiceBingo_GetWinningBoards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateBoards">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBingo/GenerateBoards" message="tns:IServiceBingo_GenerateBoards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBingo/GenerateBoardsResponse" message="tns:IServiceBingo_GenerateBoards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateWinningPattern">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceBingo/GenerateWinningPattern" message="tns:IServiceBingo_GenerateWinningPattern_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceBingo/GenerateWinningPatternResponse" message="tns:IServiceBingo_GenerateWinningPattern_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceBingo" type="tns:IServiceBingo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IServiceBingo/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IServiceBingo/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkBoards">
      <soap:operation soapAction="http://tempuri.org/IServiceBingo/MarkBoards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWinningBoards">
      <soap:operation soapAction="http://tempuri.org/IServiceBingo/GetWinningBoards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateBoards">
      <soap:operation soapAction="http://tempuri.org/IServiceBingo/GenerateBoards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GenerateWinningPattern">
      <soap:operation soapAction="http://tempuri.org/IServiceBingo/GenerateWinningPattern" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceBingo">
    <wsdl:port name="BasicHttpBinding_IServiceBingo" binding="tns:BasicHttpBinding_IServiceBingo">
      <soap:address location="http://localhost:50402/Dominio/Servicios/ServiceBingo.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>