Bingo/Bingo/Connected Services/BingoWCF/ServiceBingo1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BingoWCF.Dominio.Modelos" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BingoWCF.Dominio.Modelos" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBoard">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Board" nillable="true" type="tns:Board" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoard" nillable="true" type="tns:ArrayOfBoard" />
  <xs:complexType name="Board">
    <xs:sequence>
      <xs:element minOccurs="0" name="GameBoard" nillable="true" type="tns:ArrayOfArrayOfCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Board" nillable="true" type="tns:Board" />
  <xs:complexType name="ArrayOfArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfCell" nillable="true" type="tns:ArrayOfCell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArrayOfCell" nillable="true" type="tns:ArrayOfArrayOfCell" />
  <xs:complexType name="ArrayOfCell">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Cell" nillable="true" type="tns:Cell" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCell" nillable="true" type="tns:ArrayOfCell" />
  <xs:complexType name="Cell">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsMarked" type="xs:boolean" />
      <xs:element minOccurs="0" name="Value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Cell" nillable="true" type="tns:Cell" />
</xs:schema>