Bingo/Bingo/Connected Services/BingoWCF/ServiceBingo2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50402/Dominio/Servicios/ServiceBingo.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfBingo" />
  <xs:import schemaLocation="http://localhost:50402/Dominio/Servicios/ServiceBingo.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BingoWCF.Dominio.Modelos" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfBingo" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfBingo" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkBoards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BingoWCF.Dominio.Modelos" minOccurs="0" name="Players" nillable="true" type="q3:ArrayOfBoard" />
        <xs:element minOccurs="0" name="number" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkBoardsResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinningBoards">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BingoWCF.Dominio.Modelos" minOccurs="0" name="players" nillable="true" type="q4:ArrayOfBoard" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BingoWCF.Dominio.Modelos" minOccurs="0" name="winningPattern" nillable="true" type="q5:Board" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWinningBoardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BingoWCF.Dominio.Modelos" minOccurs="0" name="GetWinningBoardsResult" nillable="true" type="q6:ArrayOfBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateBoards">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateBoardsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BingoWCF.Dominio.Modelos" minOccurs="0" name="GenerateBoardsResult" nillable="true" type="q7:ArrayOfBoard" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateWinningPattern">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateWinningPatternResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BingoWCF.Dominio.Modelos" minOccurs="0" name="GenerateWinningPatternResult" nillable="true" type="q8:Board" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>